body{
	background-color: #000;
	font-size: 16pt;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
-webkit-appearance: none;
}

.mcb_wrap{
	width: 640px;
	position: relative;
	margin: 0 auto;
}
/*头部*/
.cars_head{
	width: 100%;
	height: 50pt;
	background-color: #000;
	overflow: hidden;
	margin: 0 auto;
	border-bottom: 1px solid rgb(197,197,197);

}
.cars_head_left, .payLeft{
	width: 120px;
	height: 50pt;
	line-height: 50pt;
	text-align: center;
	float: left;
	font-size: 60px;
	color: #fff;
	font-weight: bold;
}
.cars_head_left img, .payLeft img{
    height: 40px;
    margin-top: 12px;
    margin-left: 28px;
    display: block;
    float: left;
}
.cars_head_zhong, .payZhong{
	width: 390px;
	height: 50pt;
	line-height: 50pt;
	color: #fff;
	text-align: center;
	border: none;
	border-radius: 8px;
	display: block;
	float: left;
	font-size: 20pt;
	background-size: 40px;
}
.car_head_zhong{
	width: 390px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	text-align: center;
	border: none;
	border-radius: 8px;
	display: block;
	float: left;
	margin-top: 15px;
	font-size: 26pt;
	overflow: hidden;
}
.cars_head_right, .payRight{
	width: 120px;
	height: 50pt;
	line-height: 50pt;
	text-align: center;
	float: right;
	font-size: 18pt;
	color: rgb(221,221,221);
	font-weight: bold;
}
.userIcon{
	width: 120px;
	height: 50pt;
	float: right;
	background-color: #000;
	display: none;
}
.userIcon img{
	width: 36pt;
	height: 36pt;
	display: block;
	margin: 7pt auto 0;
	border-radius: 50%;
}
/*品牌*/
.brandZong ul{
	width:640px;
	background-color: #000;
	font-size: 18pt;
	color: rgba(255,90,0,1);
	margin: 0 auto;
	overflow: hidden;
	display: none;
}
.brandZong li:first-of-type{
}
.brandTitle{
    height: 30pt;
    line-height: 30pt;
    text-align: left;
    background-color: #000;
}
.brandInfo{
	height: 50pt;
	line-height: 50pt;
	text-align: left;
	background-color: #fff;
	color: #000;

}
.brandInfo img{
	height: 40pt;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5pt;
}
.brandInfo span{
	width: 400px;
	float: left;
	height: 50pt;
}

/*车系*/
.carsTobal{
	width:640px;
	background-color: #000;
	font-size: 18pt;
	color: rgba(255,90,0,1);
	margin: 0 auto;
	overflow: hidden;
	border-left: 2px solid #767676;
	border-right: 2px solid #767676;
	border-top: 1px solid #767676;
}
.carsTobal li{
	width: 100%;
	height: 181px;	float: left;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 0.7pt solid rgb(197,197,197);
}
.carsTobal li:first-of-type{
	border-top: none;
}
.carsTobal li img{
	width: 230px;
	height: 161px;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	margin-right: 28px;
}
.carsInfor{
	width: 280px;
	height: 100px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 18pt;
}
.carsSales{
	margin-top: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.carsName, .carsPrice{
    	width: 280px;
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.carsName{
	width: 280px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	color: rgb(43,43,43);
	float: left;
	font-size: 20pt;
}
.carsSales{
	width: 72px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	background-color: rgba(255,90,0,1);
	color: #fff;
	font-size: 16pt;
	margin-top: 20px;
}
.carsPrice{
	height: 30px;
	line-height: 30px;
	text-align: left;
	color: #000;
	float: left;
	font-size: 16pt;
}
.carsPrice_in{
	color: rgba(255,90,0,1);
}
/*车款*/
.dapao{
	width: 640px;
	height: 40pt;
	margin: 0 auto;
    text-align: center;
    line-height: 40pt;
    font-size: 18pt;
    background-color: #339966;
    color: #000;
}
.titleUl{
	width: 640px;
	height: 40pt;	
	overflow: hidden;
}
.titleUl li{
	width: 158.5px;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	font-size: 16pt;
	color: rgb(251,251,251);
		float: left;
	background-color: #E4E4E4;
	cursor: pointer;
}
.titleUl li:last-of-type{
	border-right: none;
}
.hintCar{
	width: 640px;
	height: 40pt;
	line-height: 40pt;
	overflow: hidden;
	color: #ccc;
	font-size: 14pt;
}
.hintLeft{
	width: 310px;
	height: 40pt;
	line-height: 40pt;
	text-align: left;
	float: left;
	padding-left: 10px;
}
.hintRight{
	width: 310px;
	height: 40pt;
    line-height: 40pt;
    text-align: right;
    float: left;
    padding-right: 10px;
}
.hintRight div{
	float: right;
	cursor: pointer;
	margin-right: 10px;
}
.hintPrice{
	margin-right: 10px;
}
.carInfo, .nowCar{
	width: 640px;
	overflow: hidden;
	background-color: #000;
	border-top: 1px solid #767676;
}
.carInfo li{
	width: 620px;
	font-size: 16pt;
	color: #000;
	background-color: #fff;
	float: left;
	padding: 10px;
	overflow: hidden;
}
.overTop{
	width: 620px;
	padding: 0 10px;
	height: 30pt;
	line-height: 30pt;
	text-align: left;
	font-size: 18pt;
}
.overBottom{
	width: 620px;
	padding: 0 10px;
	height: 30pt;
	line-height: 30pt;
	text-align: left;
}
.overBottomG{
	width: 65px;
	height: 30pt;
	line-height: 30pt;
	float: left;
	color:rgb(110,110,110);
	font-size: 14pt;
}
.storeG{
	height: 15pt;
	line-height: 15pt;
	float: left;
	text-align: center;
	background-color: #3EC78B;
	margin: 5pt 30px 0 -12pt;
	padding: 0 5px;
	border-radius: 5pt;
	color: #fff;
	font-size: 8pt;
}
.overBottomJ{
    width: 100px;
	height: 30pt;
	line-height: 30pt;
	float: left;
	color:rgb(110,110,110);
	font-size: 14pt;
}
.storeP{
    width: 155px;
	height: 30pt;
	line-height: 30pt;
	float: left;	
	color: rgba(255,90,0,1);
	font-size: 14pt;
}
.inRight{
	width: 40pt;
	height: 30pt;
	line-height: 30pt;
	float: right;
	text-align: center;
}
.nowCar li{
	width: 640px;
	background: #fff;
	overflow: hidden;
	padding-top: 8pt;
	position: relative;
	padding-bottom: 10px;
	color: rgb(43,43,43);
	border-bottom: 0.7pt solid rgb(197,197,197);
}
.nowCar li .TFcar{
	position: absolute;
	top: 8pt;
	right: 8pt;
    width: 85pt;
    height: 22pt;
    line-height: 22pt;
    color: #fff;
    text-align: center;
    background-color: rgb(255, 153, 0);
    display: none;
}
.nowCar li div{
	width: 630px;
	height: 30pt;
	line-height: 30pt;
	float: left;
	padding-left: 10px;
	font-size: 18pt;
	margin-top: 1pt;
}
.nowCar li div p{
	float: left;
	height: 30pt;
	line-height: 30pt;
	font-size: 16pt;
	color: rgb(112,112,112);
}
#rightPrice{
	margin-left: 10px;
}
.standardCar{
	background-color: #339966;
	font-size: 8pt;
	padding: 2px 8px;
	color: #fff;
	margin-left: 15px;
	margin-top: 7pt;
	border-radius: 3pt;
	height: 10pt;
	line-height: 10pt;
	position: absolute;
}
.salesCar{
	height: 8pt;
	margin-top: 1pt;
	background-color: rgba(255,90,0,1);
	font-size: 12pt;
	padding: 1px 2px;
	color: #fff;
	margin-left: 15px;
}
.nowColor{
	font-size: 14pt;
	color: #000;
}
.sprice{
	margin-left: 30pt;
}

.nowCar li div .wg, .nowCar li div .ns{
	width: 16pt;
	height: 16pt;
    float: left;
    border-radius: 50%;
    margin-right: 40px;
    margin-top: 5pt;
    margin-left: 10px;
}
.nowCar li div .ns{
	margin-left: 20px;
}
.nowAddl{
	width: 520px;
	color: #797979;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.nowAddlp{
	color: #797979;
	text-decoration:line-through;
}
.pricel{
	color: rgba(255,90,0,1);;
}
/*车款详情*/
.carLogo{
	width: 640px;
	height: 448px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px solid #fff;
}
.carLogo img{
	width: 640px;
	height: 448px;
	float: left;
}
.carTitle{
	width: 560px;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid #fff;
	font-size: 16pt;
	color: #fff;
}
.nowCar .colors{
	color: #fff;
	background-color: #000;
}
.nowCar .colors div p{
    color: #fff;
}
.nowCar .colors div .pricel{
	color: rgba(255,90,0,1);;
}
.nowCar .colors .nowPrice{
	width: 630px;
}
.nowCar .colors .nowColor{
	width: 630px;
}
.nowCar .colors div{
	margin-bottom: 10px;
}
.nowCar .colors .nowColor .wg{
	background-color: #fff;
}
.nowCar .colors .nowColor .ns{
	background-color: #fff;
}
.tabPP{
	width: 640px;
	height: 40pt;
	margin: 0 auto;
	background-color: #fff;
}
.tabPP div{
	width: 319px;
	height: 40pt;
	line-height: 39pt;
	text-align: center;
	font-size: 18pt;
	float: left;
	cursor: pointer;
	background-color: #fff;
}
.tabPP p{
	width: 2px;
	height: 28pt;
	margin-top: 6pt;
	background-color: #000;
	float: left;
}
.tabInfo{
	width: 640px;
	margin: 0 auto;
}
.infoLeft{
    width: 600px;
    margin: 8px auto 20px;
    background-color: #000;
    padding-bottom: 20px;
}
.infoRight{
	display: none;
}
.peizhi_head{
	width: 590px;
	height: 30pt;
	line-height: 30pt;
	border: none;
	text-align: left;
	font-size: 16pt;
	color: #fff;
	background-color: #3EC78B;
	margin: 12px auto 0;
	padding-left: 10px;
	border-top-left-radius: 5pt;
	border-top-right-radius: 5pt;
}
.memo_show{
	width: 598;
	line-height: 38px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 16pt;
	color: #000;
	margin: 0 auto;
	overflow: hidden;
	background-color: #F3F3F3;
}
.infoLeft a{
	width: 230px;
	height: 100%;
	float: left;
	text-align: left;
	padding-left: 10px;
	font-size: 14pt;
	color: rgb(43,43,43);
}
.infoLeft span{
	width: 340px;
	height: 38px;
	overflow: hidden;
	float: right;
	text-align: left;
	padding-left: 10px;
	font-size: 14pt;
	border-left: 1px solid #ccc;
	color: rgb(83,83,83);
}
.overRecommend{
	width: 640px;
	background-color: #000;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	margin-bottom: 40pt;
	padding-bottom: 20px;
}
.recommendHead{
	width: 140px;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    margin: 0 auto;
    text-align: center;
    color: rgba(255,90,0,1);
    font-size: 20pt;
    position: relative;
    top: -15px;
    z-index: 1;
}
.overRecommend p{
	width: 630px;
	height: 40pt;
	line-height: 40pt;
	text-align: left;
	padding-left: 10px;
	color: #5E5E5E;
	font-size: 16pt;
	background-color: #fff;
	border-bottom: 1px solid #767676;
	overflow: hidden;
}
.overPrice{
	width: 130px;
	overflow: hidden;
	float: right;
	color: rgba(255,90,0,1);
	text-align: left;
	font-size: 14pt;
}
.gainCar{
	width: 640px;
    overflow: hidden;
    margin-top: 20px;
    border-top: 1px solid #767676;
    padding-bottom: 20px;
}
.gainCar .gainCar_div{
	width: 630px;
	height: 40pt;
	padding-left: 10px;
	font-size: 16pt;
	background-color: #fff;
	border-bottom: 1px solid #767676;
}
.colorOut, .colorIn{
	width: 620px;
	height: 40pt;
	line-height: 40pt;
    color: #434343;
    overflow: hidden;
}
.colorOut .colorOut_se{
	width: 16pt;
    height: 16pt;
    float: left;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 11pt;
    border: 1px solid rgb(197,197,197);
}
.colorOut div, .colorIn div{
	float: left;
	height: 40pt;
	line-height: 40pt;
}
.gainPrice_div{
	width: 620px;
	height: 40pt;
	line-height: 40pt;
	font-size: 18pt;
	color: #fff;
	padding-left: 20px;
}
.gainPrice_div p{
	height: 40pt;
	line-height: 40pt;
	float: left;
}
.gainPrice_divl{
	width: 600px;
	line-height: 30pt;
	font-size: 16pt;
	color: #fff;
	padding-left: 20px;
	word-spacing: 5px;
}
.gainPrice_divl span{
	word-spacing: 5px;
	margin-right: 10px;
	color: rgb(221,221,221);
}
.gainPrice{
	margin-top: 20px;
}
.remark{
	width: 600px;
	background-color:#E4E4E4;
	margin: 20px auto;
	overflow: hidden;
	padding: 8px 0;
}
.remark .remarkHead{
	width: 500px;
	height: 40pt;
	line-height: 40pt;
	text-align: left;
	padding-left: 10px;
	color: #000;
	font-size: 18pt;
}
.remark .remarkInfo{
	width: 580px;
	line-height: 40pt;
	text-align: left;
	padding: 0 10px;
	color: #000;
	font-size: 16pt;
}
.blockCar{
	width: 100%;
	height: 44pt;
    position: fixed;
    bottom: 0;
    background-color: #000;
    overflow: hidden;
    z-index: 2;
}
.blockCarin{
	width: 640px;
	height: 44pt;
	margin: 0 auto;
}
.blockLeft{
	width: 319px;
	height: 44pt;
	line-height: 44pt;
	text-align: center;
	font-size: 18pt;
	color: #000;
	border-right: 1px solid #767676;
	float: left;
	background: rgba(255,90,0,1) url(../img/phone.png) no-repeat 50px 10px;
	background-size: 30pt;
	cursor: pointer;
}
.blockRight{
	width: 319px;
	height: 44pt;
	line-height: 44pt;
	text-align: center;
	font-size: 18pt;
	background-color: rgba(255,90,0,1);
	color: #000;
	border-left: 1px solid #767676;
	float: left;
	cursor: pointer;
}
.infoRight{
	width: 640px;
	background-color: #000;
	overflow: hidden;
}
.postHead{
	width: 640px;
	height: 44pt;
	margin: 0 auto;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	font-size: 16pt;
}
.importPost{
	width: 450px;
	height: 30pt;
	line-height: 30pt;
	margin-top: 7pt;
	margin-left: 20px;
	float: left;
	border: none;
	padding-left: 5px;
	font-size: 16pt;
}
.publishPost{
	width: 120px;
	height: 30pt;
	line-height: 30pt;
	margin-top: 7pt;
	margin-right: 20px;
	float: right;
	text-align: center;
	font-size: 16pt;
	border: none;
	background-color: #fff;
	border-radius: 5pt;
}
.postInfo{
	width: 640px;
	margin: 0 auto;
	overflow: hidden;
}
.postInfo li{
	width: 640px;
	overflow: hidden;
	margin-top: 6px;
	margin-bottom: 14px;
}
.postIcon{
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 50%;
	overflow: hidden;
}
.postIcon img{
	width: 50px;
	height: 50px;
	float: left;
}
.postName{
	width: 560px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 16pt;
	color: rgba(255,90,0,1);
}
.postTime{
	width: 560px;
	height: 20px;
	line-height: 20px;
	text-align: left;
	float: left;
	margin-left: 10px;
	font-size: 12pt;
	color: #ccc;
	padding-left: 1px;
}
.postComment{
	width: 550px;
	line-height: 30px;
	text-align: left;
	font-size: 16pt;
	color: #ccc;
	overflow: hidden;
	margin-left: 70px;
	border-bottom: 1px solid #fff;
	padding: 16px 20px 4px 0;
}
.errorTS{
	width: 640px;
	height: 33pt;
	line-height: 33pt;
	text-align: center;
	color: #fff;
	font-size: 20pt;
}
.colorBlock{
	width: 640px;
	height: 100%;
	margin: 0 auto;
	background-color: #000;
	z-index: 11;
	display: none;
}
.colorBlockin{
	width: 640px;
	margin: 0 auto;
	overflow: hidden;
}
.waig{
	width: 319px;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	color: #fff;
	font-size: 18pt;
	cursor: pointer;
	float: left;
	border-right: 2px solid #fff;
	border-bottom: 1px solid #fff;
}
.neis{
	width: 319px;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	color: #fff;
	font-size: 18pt;
	cursor: pointer;
	float: left;
	border-bottom: 1px solid #fff;
}
.waif .neif{
	width: 640px;
	overflow: hidden;
}
.neif li{
	width: 630px;
	height: 40pt;
	line-height: 40pt;
	float: left;
	border-bottom: 1px solid rgb(197,197,197);
	color: #ccc;
	font-size: 18pt;
	padding-left: 10px;
}
.waif li{
	width: 190px;
	height: 170px;
	float: left;
	margin-top: 20px;
}
.colorRbj{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 1px solid rgb(197,197,197);
	float: right;
}
.colorName{
	width: 160px;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	color: #fff;
	font-size: 16pt;
	float: right;
	margin-top: 10px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-right: -20px;
}
.colorHead{
	width: 640px;
	overflow: hidden;
	border-bottom: 1px solid #fff;
}
.color_head_left{
	width: 120px;
	height: 50pt;
	line-height: 50pt;
	text-align: center;
	float: left;
	font-size: 60px;
	color: #fff;
}
.color_head_left img{
    height: 40px;
    margin-top: 12px;
    margin-left: 28px;
    display: block;
    float: left;
}
/*预约单*/
.scribeHead{
	width: 640px;
	height: 200px;
	margin: 30px auto 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.scribeTitle{
	width: 140px;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    margin: 0 auto;
    text-align: center;
    color: rgba(255,90,0,1);
    font-size: 20pt;
    position: relative;
    top: -15px;
    z-index: 1;
}
.scribeTop{
	width: 640px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 18pt;
	margin: 10px auto 0;
	color: #fff;
}
.scriptLeft{
	width: 230px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 18pt;
	color: #fff;
	float: left;
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.scriptLeftRgb{
	width: 16pt;
	height: 16pt;
	float: left;
	border-radius: 50%;
	border: 1px solid rgb(176,176,176);
	margin: 23px 80px 0 20px;
}
.scriptRight{
    width: 280px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	font-size: 18pt;
	color: #fff;
	float: left;
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.scribeCity{
	width: 640px;
	height: 40pt;
	line-height: 40pt;
	background-color: #fff;
	color: #000;
	overflow: hidden;
	font-size: 18pt;
	margin: 12pt auto 0;
	cursor: pointer;
	display: none;
}
.scribeCityLeft{
	width: 200px;
	height: 40pt;
	line-height: 40pt;
	float: left;
	margin-left: 20px;
}
.scribeCurrentCity, .scribeCurrentProvince{
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	float: right;
	padding: 0 10px;
	color: rgba(255,90,0,1);
	font-size: 18pt;
}
.scribeCityRight{
	width: 50px;
    height: 40pt;
    line-height: 40pt;
    text-align: center;
    float: right;
    font-weight: bold;
    font-size: 16pt;
    background: url(../img/arrows.png) center center no-repeat;
    background-size: 15px;
    margin-right: 20px;
}
.scribeCityBlockMain{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	top: 0;
	position: fixed;
	z-index: 1;
	display: none;
}
.scribeCityBlock, .scribeCityBlocks{
	width: 100%;
	position: fixed;
	top: 300px;
	z-index: 2;
	display: none;
}
.scribeCityBlockHead{
	width: 610px;
	height: 40pt;
	margin: 0 auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #fff;
	border-top-left-radius: 5pt;
	border-top-right-radius: 5pt;
	padding-left: 10px;
}
.scribeCBW, .scribeCBWs{
	width: 620px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 10pt;
	background-color: #fff;
	border-bottom-left-radius: 5pt;
	border-bottom-right-radius: 5pt;
}
.scribeCBW li, .scribeCBWs li{
	width: 130px;
	height: 30pt;
	line-height: 30pt;
	text-align: center;
	color: #000;
	font-size: 18pt;
	float: left;
	margin-top: 10pt;
}
.scribeCityBlockHeadLeft, .scribeCityBlockHeadRight, .scribeCityBlockHeadLefts{
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	font-size: 18pt;
	float: left;
	margin-left: 10px;
	padding-right: 10px;
}
.scribeCityBlockHeadGb{
	width: 50pt;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	float: right;
	color: #000;
	margin-right: 10px;
}
.scribeCityBlockHeadBack{
	width: 20pt;
	height: 40pt;
	float: left;
	line-height: 40pt;
	text-align: center;
	font-size: 18pt;
}
.scribePrice{
	width: 300px;
	overflow: hidden;
	margin: 80px auto 0;
}
.scribePrice div{
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 18pt;
	float: left;
}
.scribePL{
	color: #fff;
	text-align: right;
}
.scribePR{
	color: rgba(255,90,0,1);
	text-align: left;
}
.scribeInfo{
	width: 600px;
	margin: 20px auto;
	background-color: #fff;
	color: #000;
	font-size: 18pt;
	line-height: 30pt;
	padding: 10px;
	border-radius: 5pt;
}
.scribeMain{
	width:640px;
	border: 2px solid rgb(197,197,197);
	background-color: #fff;
	padding: 10px 0 15px 0;
	overflow: hidden;
}
.scribeMone{
	width: 500px;
    height: 30px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    color: rgba(255,90,0,1);
    font-size: 20pt;
    border-bottom: 2px solid #000;
}
.scribeDoler{
	width: 500px;
    height: 40pt;
    margin: 0 auto;
    text-align: center;
    font-size: 18pt;
    position: relative;
}
.sbF{
	border-bottom: 2px solid #000;
	padding-bottom: 5px;
}
.zongPrice{
	width: 500px;
	height: 30px;
	margin: 0 auto;
    font-size: 18pt;
}
.jianmianPrice{
	width: 500px;
	height: 30px;
	margin: 0 auto;
    font-size: 18pt;
	display: none;
}
.scribeDL{
    width: 350px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #000;
    margin-top: 6px;
    float: left;
}
.scribeDR{
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	color: rgba(255,90,0,1);
	margin-top: 6px;
	float: left;
}
.scribeDR div{
	float: left;
}
.scribePay{
	width: 100%;
	height: 40pt;
	overflow: hidden;
	position: fixed;
	bottom: 0;
}
.scribePayIn{
	width: 640px;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	border: none;
	margin: 0 auto;
	background-color: rgba(255,90,0,1);
	color: #fff;
}
.threeBao{
	width: 20px;
	height: 20px;
    position: absolute;
    top: 11px;
    right: 160px;
}
.whatTB{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14pt;
	position: absolute;
	top: 7px;
	right: -40px;
	background-color: rgba(255,90,0,1);
	color: #fff;
	overflow: hidden;
	border-radius: 5pt;
}
.scribeName{
	width: 600px;
    padding: 0 20px;
    overflow: hidden;
    margin-top: 20px;
    /*display: none;*/
}
.scribeName div{
	width: 600px;
	height: 50px;
	overflow: hidden;
	float: left;
}
.scribeName p{
	width: 130px;
	height: 32pt;
	line-height: 32pt;
	text-align: left;
	float: left;
	color: #fff;
	font-size: 16pt;
}
.scribeName input{
	width: 440px;
	height: 32pt;
	line-height: 32pt;
	text-align: left;
	padding-left: 2px;
	font-size: 14pt;
	color: #000;
	float: left;
	border-radius: 5pt;
}
.scirbePayCode{
	width: 620px;
	margin: 0 auto;
	overflow: hidden;
}
.scribePC_head{
    width: 620px;
    float: left;
    overflow: hidden;
}
.scribePC_headLeft{
	width: 15pt;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	font-size: 20pt;
	color: rgba(255,90,0,1);
	float: left;
	font-weight: bold;
}
.scribePC_headRight{
	width: 500px;
	height: 40pt;
	line-height: 40pt;
	font-size: 18pt;
	color: #fff;
}
.scribePC_headFoot{
	width: 600px;
	height: 30pt;
	line-height: 40pt;
	color: #fff;
	font-size: 16pt;
	float: left;
	margin-bottom: 10px;
}
.scribeFoot{
	width: 600px;
	float: left;
	overflow: hidden;
	margin-left: 10px;
	display: none;
	margin-bottom: 10px;
}
.scribeFoot input{
	width: 145px;
	height: 30pt;
	line-height: 30pt;
	font-size: 16pt;
	float: left;
	margin-right: 10px;
	border: none;
	padding-left: 5px;
}
.useCode{
	width: 120px;
	height: 30pt;
	line-height: 30pt;
	text-align: center;
	background-color: rgba(255,90,0,1);
	color: #fff;
	font-size: 16pt;
	float: left;
}
/*海外车*/
.overLogo{
    width: 640px;
    height: 180px;
    margin: 2px auto 0;
    overflow: hidden;
    background-color: #fff;
}
.overLogLeft{
	width: 200px;
	height: 140px;
	float: left;
	margin: 20px 20px 0;
}
.overLImg{
	width: 200px;
	height: 140px;
	float: left;
}
.overLogRight{
	width: 340px;
    height: 140px;
    margin-top: 20px;
    float: left;
    overflow: hidden;
}
.overLRHead{
    width: 380px;
    height: 70px;
    line-height: 70px;
    font-size: 18pt;
    color: #000;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
	white-space:nowrap;
}
.overLRMain{
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 16pt;
	float: left;
	color:rgb(110,110,110);
    overflow: hidden;
    text-overflow:ellipsis;
	white-space:nowrap;
}
.overLRInfo{
	width: 190px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: rgba(255,90,0,1);
	border-radius: 3px;
	color: #fff;
	font-size: 12pt;
	float: left;
	margin: 10px 0 0 10px;
}
.overDan{
	width: 640px;
	height: 40pt;
	background-color: #fff;
	margin: 10pt auto 0;
	overflow: hidden;
	font-size: 18pt;
	color: #000;
}
.ovarDanLeft{
	height: 40pt;
	line-height: 40pt;
	float: left;
	margin-left: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18pt;
}
.overDanMain{
	height: 40pt;
	line-height: 40pt;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.overDanRight{
	width: 50px;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	float: right;
	font-weight: bold;
	font-size: 16pt;
	background: url(../img/arrows.png) center center no-repeat;
	background-size: 15px;
}
.overDanRights{
	width: 50px;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	float: right;
	font-weight: bold;
	font-size: 16pt;
}
.overOutSe, .overInSe{
	height: 40pt;
	line-height: 40pt;
	padding-right: 5px;
	overflow: hidden;
	float: left;
}
.overOutRgb{
	width: 16pt;
	height: 16pt;
	margin: 10pt 0 0 10pt;
	float: left;
	border-radius: 50%;
	border: 1px solid rgb(197,197,197);
}
.judegConfig{
	width: 640px;
	height: 15px;
	margin: 30px auto 0;
	border-top: 1px solid #fff;
}
.overDuo{
	width: 640px;
	background-color: #fff;
	overflow: hidden;
	margin-top: 10pt;
}
.overDanHead{
	width: 640px;
	height: 40pt;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.overDanHead p{
	height: 40pt;
	line-height: 40pt;
	font-size: 18pt;
	color: #000;
}
.overDanHead .bagPrice{
	float: right;
	color: rgba(255,90,0,1);
	font-size: 14pt;
}
.bagPrice{
	height: 40pt;
	line-height: 40pt;
	float: right;
	color: rgba(255,90,0,1);
	font-size: 14pt;
}
.overDuoMain{
	width: 620px;
	height: 40pt;
	border-bottom: 1px solid #ccc;
	float: right;
}
.overDanMLeft{
	width: 10pt;
	height: 10pt;
	background: #fff url(../img/SCchoice@3x.png) 0 0 no-repeat;
	background-size: 10pt;
	border-radius: 50%;
	float: left;
	margin-top: 14pt;
}
.overMony{
	width: 640px;
	margin: 20px auto 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
}
.overMonyIn{
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;
	padding-top: 10px;
	border-radius: 5pt;
}
.coverMemoPrice{
	width: 480px;
	height: 40pt;
	margin: 0 auto;
	border-bottom: 2px solid #ccc;
	overflow: hidden;
}
.coverMemoLeft{
	width: 190px;
	height: 40pt;
    line-height: 42pt;
    color: rgb(43,43,43);
    font-size: 16pt;
    float: left;
}
.coverMemoRight{
	width: 120px;
	height: 40pt;
	line-height: 42pt;
	color: rgb(83,83,83);
	font-size: 16pt;
	float: left;
}
.coverMemoRights{
	width: 40px;
	height: 40pt;
	line-height: 42pt;
	color: rgb(83,83,83);
	font-size: 16pt;
	float: left;
	text-align: right;
	margin-right: 2px;
}
.onselfPriceNumss{
	float: left;
	line-height: 45pt; 
	font-size: 18pt;
	margin-left: -100px;
}
.overTS{
	width: 600px;
	margin: 20px auto;
	overflow: hidden;
	padding: 10px;
	background-color: #ccc;
	font-size: 16pt;
	border-radius: 5pt;
	color: rgb(83,83,83);
}
.coverPriceHint{
	width: 120px;
	height: 30pt;
	line-height: 32pt;
	text-align: center;
	background-color: #3EC78B;
	color: #fff;
	font-size: 16pt;
	float: right;
	margin-top: 5pt;
	border-radius: 5pt;
}
.overHintBlokMain{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	z-index: 5;
	display: none;
}
.overHintBlok{
	width: 100%;
	position: fixed;
	top: 300px;
	z-index: 6;
	font-size: 18pt;
	display: none;
}
.overHintBlokHead{
	width: 500px;
	height: 40pt;
	margin: 0 auto;
	overflow: hidden;
	border-top-left-radius: 5pt;
	border-top-right-radius: 5pt;
}
.overHintBlokHeadL{
	width: 100px;
	height: 40pt;
	line-height: 40pt;
	text-align: center;
	background-color: rgba(255,90,0,1);
	color: #fff;
	float: left;
}
.overHintBlokHeadR{
	width: 400px;
	height: 40pt;
	line-height: 40pt;
	float: left;
	background-color: #3EC78B;
	color: #000;
	text-align: center;
}
.overHintBlokInfo{
	width: 480px;
	line-height: 30pt;
	margin: 0 auto;
	padding: 10px;
	background-color: #ccc;
	border-bottom-left-radius: 5pt;
	border-bottom-right-radius: 5pt;
}
/*配置包*/
.bodyZongHead, .duoBodyZongHead, .perfectMessage{
	width: 640px;
	margin: 0 auto;
	display: none;
	overflow: hidden;
}
.bodyZongHead_left, .duoBodyZongHead_left, .perfectMer_left{
	width: 120px;
    height: 50pt;
    line-height: 50pt;
    text-align: center;
    float: left;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
}
.bodyZongHead_left img, .duoBodyZongHead_left img, .perfectMer_left img{
    height: 40px;
    margin-top: 12px;
    margin-left: 28px;
    display: block;
    float: left;
}
.bodyZong, .danBodyZong{
	width: 640px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #000;
}
.bodyZong li, .danBodyZong li{
	width: 600px;
	padding: 0 20px;
	background-color: #fff;
	margin: 2px auto 0;
	overflow: hidden;
	font-size: 18pt;
}
.choiseDuoBagLeft{
	width: 20pt;
	height: 20pt;
	margin-top: 10pt;
	float: left;
	background-color: rgba(255,90,0,1);
	border-radius: 50%;
	border: 1px solid #ccc;
	margin-right: 10px;
	background-size: 20pt;
}
.choiseDuoBagLefts{
	width: 20pt;
	height: 20pt;
	margin-top: 10pt;
	float: left;
	background-color: #ccc;
	border-radius: 50%;
	border: 1px solid #29D3C2;
	margin-right: 10px;
	background-size: 20pt;
}
.duoBodyYes{
	width: 640px;
	height: 40pt;
	margin: 2px auto 0;
	font-size: 20pt;
	background-color: #fff;
	padding-top: 10pt;
}
.duoBodyYesIn{
	width: 400px;
	height: 30pt;
	line-height: 30pt;
	color: #fff;
	text-align: center;
	background-color: rgba(255,90,0,1);
	margin: 0 auto;
	cursor: pointer;
}
.bodyTitle{
	width: 360px;
	height: 40pt;
	line-height: 40pt;
	text-align: left;
	float: left;
	font-size: 20pt;
}
.bodyPrice{
	width: 150px;
    height: 40pt;
    line-height: 40pt;
    color: rgba(255,90,0,1);
    float: left;
    text-align: right;
}
.bodyRight{
	width: 50px;
    height: 40pt;
    line-height: 40pt;
    text-align: center;
    float: right;
    font-weight: bold;
    font-size: 16pt;
}
.bodyComment{
	width: 570px;
	line-height: 40pt;
	float: right;
	border-top: 1px solid #ccc;
}
.onselfPriceZong{
	height: 40pt;
	line-height: 40pt;
	font-size: 14pt;
	color: rgb(83,83,83);
	float: right;
	font-weight: bold;
	margin-right: 20px;
	cursor: pointer;
}
.onselfPriceNum{
	width: 24pt;
	height: 24pt;
	line-height: 24pt;
	text-align: center;
	border-radius: 50%;
	border: 0.5px solid rgb(197,197,197);
	color: rgba(255,90,0,1);
	margin-top: 7pt;
	font-size: 12pt;
}
.perfectIn{
	border-top: 1px solid #fff;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 16px;
}
.perfectIn .perfectPic{
	width: 600px;
	height: 80px;
	overflow: hidden;
	display: block;
}
.perfectIn .addPerfectPic{
	width: 80px;
	height: 80px;
	background-color: #ccc;
	float: left;
	margin-left: 10px;
	font-size: 50pt;
	line-height: 80px;
	text-align: center;
	color: #fff;
}
.perfectHint{
	width: 600px;
	height: 20pt;
	line-height: 20pt;
	color: rgba(255,90,0,1);
	font-size: 14pt;
	margin: 0 auto;
}
.perfectPic img{
	width: 80px;
	height: 80px;
	background-color: #ccc;
	float: left;
	margin-left: 10px;
}
.addPerfectPic input{
	width: 80px;
	height: 80px;
	float: left;
	opacity: 0;
	background: rgba(0,0,0,0);
	margin-top: -80px;
}
.perfectIn .perfectLoad{
	width: 500px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20pt;
	color: #fff;
	background-color: rgba(255,90,0,1);
	float: left;
	margin-top: 40px;
	margin-left: 50px;
	cursor: pointer;
	border-radius: 5pt;
}
/*订单*/
.orderOut{
	width: 640px;
	margin: 0 auto;
	overflow: hidden;
	color: #fff;
	text-align: center;
	line-height: 100pt;
	font-size: 18pt;
}
.orderOut li{
	width: 640px;
	height: 155pt;
	background-color: #fff;
	margin-top: 5px;
}
.orderHead{
	width: 620px;
	height: 30pt;
	float: right;
	border-bottom: 1px solid #000;
}
.orderHeadLeft{
	width: 100px;
	height: 20pt;
	margin-top: 7px;
	line-height: 21pt;
	text-align: center;
	border-radius: 3px;
	color: rgb(43,43,43);
	background-color: rgba(255,90,0,1);
	float: left;
	font-size: 12pt;
}
.orderHeadRight{
	width: 490px;
	height: 30pt;
	line-height: 30pt;
	text-align: left;
    font-size: 16pt;
    float: left;
    margin-left: 20px;
    white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	color: rgb(43,43,43);
}
.orderImg{
	width: 200px;
	height: 140px;
	float: left;
	background-color: #000;
	margin: 10pt 0 0 20pt;
}
.orderMain{
	width: 400px;
	height: 110pt;
	float: left;
	margin: 10pt 0 0 10pt;
}
.orderMainLeft{
	width: 130px;
	height: 36pt;
	line-height: 36pt;
	font-size: 16pt;
	color: #000;
	float: left;
	margin-left: 30px;
	margin-top: 10pt;
}
.orderMainPrice{
	width: 230px;
	height: 36pt;
	line-height: 36pt;
	font-size: 16pt;
	color: rgba(255,90,0,1);
	float: left;
	margin-top: 10pt;
	text-align: left;;
}
.orderMainZT{
	height: 26pt;
	line-height: 26pt;
	text-align: center;
	font-size: 14pt;
	color: #fff;
	float: left;
	background-color: rgba(255,90,0,1);
	padding: 0 5px;
	margin-top: 15pt;
	border-radius: 5px;
}
/*订单详情*/
.ordersMain{
	width: 640px;
	margin: 0 auto;
	border-top: 1px solid #fff;
	padding-bottom: 20px;
}
.ordersMainIn{
	width: 598px;
	line-height: 30pt;
	background-color: rgb(221,221,221);
	margin: 0 auto;
	overflow: hidden;
	font-size: 18pt;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5pt;
}
.prderH{
	width: 620px;
	line-height: 30pt;
	border-top: 1px solid #fff;
	margin: 20px auto 0;
	color: #fff;
	padding: 10px 10px;
	font-size: 18pt;
}
.orderStoreShop, .orderStoreShops{
	width: 640px;
	background-color: #fff;
	margin: 0 auto;
	font-size: 18pt;
	padding: 10px 0;
	overflow: hidden;
	border-top: 1px solid #ccc;
}
.orderStoreHead, .orderStoreHeads{
	height: 30pt;
	line-height: 30pt;
	float: left;
	margin-left: 10px;
}
.orderStorePrice{
	width: 160px;
	height: 20pt;
	line-height: 21pt;
	text-align: center;
	margin-top: 5pt;
	margin-left: 20px;
	float: left;
	background-color: rgba(255,90,0,1);
	color: #fff;
	font-size: 14pt;
	border-radius: 5pt;
}
.orderStorePrices{
	width: 160px;
	height: 20pt;
	line-height: 21pt;
	text-align: center;
	margin-top: 5pt;
	margin-left: 20px;
	float: left;
	background-color: #3EC78B;
	color: #fff;
	font-size: 14pt;
	border-radius: 5pt;
}
.orderStoreWrap, .orderStoreWraps{
	width: 620px;
	line-height: 30pt;
	float: left;
	margin-left: 10px;
}
.orderStoreFoot, .orderStoreFoots{
    width: 620px;
	height: 30pt;
	line-height: 30pt;
	float: left;
	margin-left: 10px;
}
.orderStoreFootLeft, .orderStoreFootLefts{
	width: 24pt;
	height: 24pt;
	margin-top: 3pt;
    float: left;
}
.orderStoreFootRgiht, .orderStoreFootRgihts{
    width: 570px;
	height: 30pt;
	line-height: 30pt;
	float: left;
	margin-left: 10px;
	color: rgba(255,90,0,1);
}
.immediatelyPay{
	width: 100%;
	height: 800px;
	background-color: #000;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 2;
	display: none;
}
.payInTop{
	width: 640px;
	margin: 0 auto;
	border-bottom: 1px solid #fff;
	overflow: hidden;
}
.payInBottom{
	width: 640px;
	height: 500px;
	margin: 0 auto;
	font-size: 16pt;
	color: #fff;
}
.payBottomHead{
	width: 600px;
    line-height: 30px;
    text-align: center;
    margin: 20px auto;
    overflow: hidden;
}
.payBottomFoot{
	width: 600px;
    line-height: 30px;
    text-align: left;
    margin: 20px auto;
    overflow: hidden;
}
.payBottomWrap{
	width: 600px;
    line-height: 30px;
    text-align: left;
    margin: 10px auto 0;
    overflow: hidden;
}
.payBottomWrapLeft{
	width: 145px;
	height: 30px;
	line-height: 30px;
	float: left;
}
.payBottomWrapRgint{
	width: 400px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: left;
	color: rgba(255,90,0,1);
}
.payBottomWrapInput{
	width: 300px;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 14pt;
}
.payBottomBut{
	width: 500px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16pt;
	background-color: rgba(255,90,0,1);
	color: #fff;
	border: none;
	margin: 50px auto 0;
	cursor: pointer;
}
/*personal*/
.personal_outer{
	width: 620px;
	height: 50px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	font-size: 18pt;
	position: relative;
	padding: 0 10px;
}
.personal_head_log{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	float: right;
	margin-right: 6%;
	margin-top: 8px;
}
.personal_juede{
    width: 600px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    filter:alpha(opacity=0);  
    -moz-opacity:0;  
    -khtml-opacity: 0;  
    opacity: 0;  
}
.personal_outer div{
	width: 50%;
	height: 50px;
	line-height: 50px;
	text-align: left;
	float: left;
	color: #3EC78B;
}
.personal_outer p{
    width: 44%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    float: right;
    margin: 0;
    font-size: 14pt;
    color: rgb(83,83,83);
}
.whiteRight{
	width: 6%;
	height: 50px;
	float: right;
	border: none;
}
.ismodify_name, .ismodify_gender{
	height: 160px;
	position: fixed;
	bottom: -160px;
	display: none;
}
.ismodify_name_in, .ismodify_gender_in{
	width: 640px;
	height: 160px;
	margin: 0 auto;
	background-color: #000;
	padding-top: 10px;
	font-size: 14pt;
}
.name_val{
	width: 600px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 auto 0;
	display: block;
	font-size: 18pt;
}
.name_btn, .name_qx, .gender_woman, .gender_man, .gender_qx{
	width: 600px;
	height: 40px;
	line-height: 42px;
	text-align: center;
	margin: 10px auto 0;
	display: block;
	border: none;
	font-size: 18pt;
}
.gender_man{
	margin-top: 0;
}
/*登陆*/
.mcb_login{
	width: 640px;
	position: relative;
	overflow: hidden;
}
.login_head{
	width: 640px;
	overflow: hidden;
}
.login_head img{
	width: 420px;
	display: block;
	margin: 20px auto;
}
.prompt{
	width: 640px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 22pt;
	color: red;
	display: none;
	margin-top: 20px;
}
.login_mian{
	width: 640px;
	margin-top: 60px;
	margin-bottom: 30px;
}
.login_mian input{
	width: 570px;
	height: 90px;
	line-height: 90px;
	margin: 20px auto;
	display: block;
	font-size: 20pt;
	text-align: left;
	color: #959595;
	border: 2px solid #E1E1E1;
	border-radius: 8px;
	padding-left: 20px;
}
.login_mian .login_login, .login_mian .registered_registered, .login_mian .modifym_modifym{
	background-color: #2997E2;
	color: #fff;
	text-align: center;
	font-weight: bold;
}
.registered_go, .login_go, .clak_go{
	height: 60px;
	line-height: 60px;
	text-align: left;
	padding-left: 30px;
	font-size: 22pt;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 40px;
}
/*常见问题*/
.problemWrap{
	width: 640px;
	overflow: hidden;
	margin: 0 auto;
	background-color: #000;
}
.problemWrap li{
	width: 318px;
	height: 180px;
	line-height: 180px;
	text-align: center;
	color: #767676;
	font-size: 18pt;
	float: left;
	border-right: 2px dashed #767676;
	border-bottom: 2px dashed #767676;
}
.problemIn{
	height: 40px;
	margin: 70px 0 0 100px
}
.problemImg{
	width: 40px;
	height: 40px;
	float: left;
}
.problemTitle{
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	float: left;
	margin-left: 10px;
}
.problemOutHead{
	/*display: none;*/
}
.problemInner{
	width: 640px;
	margin: 0 auto;
	display: none;
}
.problemMainPhoto{
	width: 640px;
	float: left;
	border-top: 1px solid #fff;
}
.problemMainPhoto img{
	width: 640px;
	float: left;
}
/*设定*/
.settings{
	width: 200px;
	height: 50px;
	margin: 50px auto 0;
	overflow: hidden;
}
.settings div{
	width: 170px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ccc;
	font-size: 16pt;
	float: left;
}
.settings img{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	float: right;
}
.quit{
	width: 640px;
	height: 60pt;
	line-height: 60pt;
	text-align: center;
	background-color: rgba(255,90,0,1);
	color: #fff;
	margin: 150px auto 0;
	font-size: 20pt;
}
/*支付结果*/
.PayResultImg{
	width: 100px;
	margin: 100pt auto 0;
	display: block;
}
#PayResultTitle, #PayResultContent{
	width: 640px;
	height: 30pt;
	line-height: 30pt;
	text-align: center;
	font-size: 16pt;
	color: #fff;
	display: block;
	margin-top: 50pt;
}
#PayResultContent{
	margin-top: 0;
}










.loadingBlock{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8); 
	padding-top: 200pt; 
	z-index: 1000;
}	
.loadingWord{
	width: 200px;
	height: 30pt;
	line-height: 30pt;
	font-size: 14pt;
	color: #fff;
	text-align: center;
	margin: 10px auto 0;
}
.la-square-jelly-box,.la-square-jelly-box>div{
	position:relative;
	margin: 0 auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.la-square-jelly-box{
	width:50px;
	height:50px;
	display:block;
	font-size:0;
	color:#fff;
}
.la-square-jelly-box>div{
	display:inline-block;
	float:none;
	background-color:currentColor;
	border:0 solid currentColor;
	position:absolute;
	left:0;
	width:100%;
}
.la-square-jelly-box>div:nth-child(1){
	top:-25%;
	z-index:1;
	height:100%;
	border-radius:10%;
	-webkit-animation:square-jelly-box-animate 0.6s -0.1s linear infinite;
	-moz-animation:square-jelly-box-animate 0.6s -0.1s linear infinite;
	-o-animation:square-jelly-box-animate 0.6s -0.1s linear infinite;
	animation:square-jelly-box-animate 0.6s -0.1s linear infinite;
}
.la-square-jelly-box>div:nth-child(2){
	bottom:-9%;
	height:10%;
	background:#000;
	border-radius:50%;
	opacity:.2;
	-webkit-animation:square-jelly-box-shadow 0.6s -0.1s linear infinite;
	-moz-animation:square-jelly-box-shadow 0.6s -0.1s linear infinite;
	-o-animation:square-jelly-box-shadow 0.6s -0.1s linear infinite;
	animation:square-jelly-box-shadow 0.6s -0.1s linear infinite;
}

@keyframes square-jelly-box-animate{
	17%{border-bottom-right-radius:10%}
	25%{-webkit-transform:translateY(25%) rotate(22.5deg);-moz-transform:translateY(25%) rotate(22.5deg);-o-transform:translateY(25%) rotate(22.5deg);transform:translateY(25%) rotate(22.5deg)}
	50%{border-bottom-right-radius:100%;-webkit-transform:translateY(50%) scale(1, 0.9) rotate(45deg);-moz-transform:translateY(50%) scale(1, 0.9) rotate(45deg);-o-transform:translateY(50%) scale(1, 0.9) rotate(45deg);transform:translateY(50%) scale(1, 0.9) rotate(45deg)}
	75%{-webkit-transform:translateY(25%) rotate(67.5deg);-moz-transform:translateY(25%) rotate(67.5deg);-o-transform:translateY(25%) rotate(67.5deg);transform:translateY(25%) rotate(67.5deg)}
	100%{-webkit-transform:translateY(0) rotate(90deg);-moz-transform:translateY(0) rotate(90deg);-o-transform:translateY(0) rotate(90deg);transform:translateY(0) rotate(90deg)}
}
@-webkit-keyframes square-jelly-box-shadow{
	50%{-webkit-transform:scale(1.25, 1);transform:scale(1.25, 1)}
}
@-moz-keyframes square-jelly-box-shadow{
	50%{-moz-transform:scale(1.25, 1);transform:scale(1.25, 1)}
}
@-o-keyframes square-jelly-box-shadow{
	50%{-o-transform:scale(1.25, 1);transform:scale(1.25, 1)}
}
@keyframes square-jelly-box-shadow{
	50%{-webkit-transform:scale(1.25, 1);-moz-transform:scale(1.25, 1);-o-transform:scale(1.25, 1);transform:scale(1.25, 1)}
}