.kk{
	margin-top: 75px;
}
.geren_tou{
    width: 100%;
    height: 68px;
    line-height: 68px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #cdcdcd;
}
.geren_tou_1 {
    width: 1200px;
    margin: 0 auto;
    height: 68px;
    text-align: left;
    font-size: 16px;
    color: #656565;
    cursor: pointer;
}
.geren_tou_1:hover{
	color: red;
	font-weight: bold;
	}
.cxjg_z_con {
    width: 100%;
    background-color: #f0f1f6;
}
.con_con{
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}
.cxjg_con_head {
    width: 1196px;
    background-color: #fafafa;
    padding-top: 25px;
    border: 1px solid #ccc;
}
.baoxiao_nr1 {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    /* overflow: hidden; */
}
.baoxiao_nr {
    width: 1196px;
    height: 454px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    margin-top: 16px;
    padding-top: 40px;
}
.baoxiao_nr1_l {
    width: 400px;
    height: 40px;
    float: left;
    color: #666;
    font-size: 14px;
    text-align: right;
    line-height: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.baoxiao_nr1_r{
    width: 347px;
    height: 34px;
    float: left;
    -webkit-border-radius: 5px;
    position: relative;
    border: 1px solid #ccc;
}
.baoxiao_nr1_r input {
    display: block;
    width: 319px;
    height: 34px;
    line-height: 34px;
    padding-left: 15px;
    color: #666;
    border-radius: 5px;
    border: 0px;
    background: #FAFAFA;
}
.cxjg_con_head_nr {
    height: 38px;
    margin-bottom: 22px;
    margin: 0 auto 25px;
    /* color: #333; */
    overflow: hidden;
}
.grzx_r_xzyg1_zi {
    width: 400px;
    height: 35px;
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 35px;
    text-align: right;
    margin-right: 10px;
   	cursor: pointer;
}
.grzx_r_xzyg1_ipt_tu {
    background: url(../images/select.png) 335px center no-repeat;
}
.grzx_r_xzyg1_ipt {
    width: 347px;
    height: 34px;
    border: 1px solid #ccc;
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 34px;
    cursor: pointer;
}
#hukou{
    padding-left: 15px;
    color: #666;
    cursor: pointer;
    padding-right: 4px;
    height: 32px;
    width: 100%;
    border: 0px;
    background: #FAFAFA;
}
option{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;

}
.cxjg_con_head_nr {
    height: 38px;
    margin-bottom: 22px;
    margin: 0 auto 25px;
    /* color: #333; */
    overflow: hidden;
}
.baoxiao_nr22 {
    height: 62px;
}
.baoxiao_nr2 {
    width: 100%;
    margin-bottom: 20px;
}
.baoxiao_nr2_l2 {
    height: 62px;
    line-height: 62px;
}
.baoxiao_nr2_l {
    width: 400px;
    height: 35px;
    float: left;
    color: #666;
    font-size: 14px;
    text-align: right;
    line-height: 35px;
    margin-right: 10px;
    cursor: pointer;
}
.c_r {
    float: left;
    height: 62px;
    overflow: hidden;
}
.c_r_l {
    float: left;
    height: 62px;
}
.iptFiles input {
    background: transparent;
    opacity: 0;
    cursor: pointer;
    display: block;
    width: 62px;
    height: 62px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.iptFiles {
    float: left;
    width: 62px;
    height: 62px;
    position: relative;
    cursor: pointer;
}
.wancheng {
    display: block;
    width: 178px;
    height: 40px;
    background-color: #00307c;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
/*     -ms-border-radius: 6px;
-moz-border-radius: 6px; */
    cursor: pointer;
    margin: 20px auto 0px;
}