.cxjg_nr_head {
    width: 100%;
    height: 68px;
    line-height: 68px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #cdcdcd;
    margin-top: 75px;
}
.cxjg_nr_head_nr {
    width: 1200px;
    margin: 0 auto;
    height: 68px;
    text-align: left;
    font-size: 16px;
    color: #656565;
    cursor: pointer;
}
.cxjg_z_con {
    width: 100%;
    height: 800px;
    background-color: #f0f1f6;
}
.cxjg_con {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}
.grzx_r {
    width: 1200px;
    overflow: hidden;
}
.grzx_r_head {
    width: 1200px;
    height: 35px;
    overflow: hidden;
}
.grzx_r_head1 {
    width: 268px;
    height: 20px;
    font-size: 14px;
    color: #333333;
    float: left;
    line-height: 20px;
    padding-left: 13px;
    border-left: 4px solid #002e7b;
    margin-top: 7.5px;
    cursor: pointer;
}
.zengjan_head {
    height: 28px;
    overflow: hidden;
    margin-top: 20px;
}
.zengjan_head_zi {
    width: 86px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #666;
    font-size: 14px;
    float: left;
}
.zengjian_head_list1 {
    width: 216px;
    height: 28px;
    overflow: hidden;
    float: left;
}
.zengjian_head_list1 li {
    float: left;
    width: 72px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #666;
    font-size: 14px;
    cursor: pointer;
}
.zengjian_head_list2 {
    float: right;
    height: 28px;
}
.zengjian_head_list2 li {
    float: left;
}
.zengjian_head_list2 li a{
    width: 111px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #666;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
/*     -webkit-border-radius: 5px;
-ms-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px; */
    cursor: pointer;
    float: left;
}
.grzx_r_head2 {
    height: 35px;
    margin-top: 20px;
}
.grzx_r_head2_l {
    width: 86px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    float: left;
    color: #666;
	cursor: pointer;
    text-align: center;
}
.grzx_r_head2_r {
    width: 182px;
    height: 31px;
    float: left;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
/*     -webkit-border-radius: 5px;
-ms-border-radius: 5px;
-moz-border-radius: 5px; */
    background: url(../images/xuanzeriqi.png) 160px center no-repeat;
    position: relative;
    cursor: pointer;
}
.zengjian_head_list2 li a:hover{
	font-size: 21px;
	color: red;
}
.grzx_r_head2_ipt {
    position: absolute;
    width: 150px;
    height: 31px;
    background-color: #fafafa;
    border-right: 2px solid #e1e1e1;
}
.grzx_r_head2_ipt input {
    display: block;
    width: 145px;
    height: 100%;
    line-height: 31px;
    padding-left: 5px;
    color: #434343;
    border: 0px;
}
.zengjian_head_list1 .xuanze1{
    background: #002E7B;
    color: #fff;
}
.head4 {
    width: 45px;
    height: 31px;
    line-height: 31px;
    padding-left: 20px;
    background: url(../images/search.png) 6px center no-repeat;
    float: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color: #666;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}
.grzx_xia {
    width: 1204px;
    border: 1px solid #cccccc;
    border-right: 0px solid #cccccc;
    margin-top: 10px;
    overflow: hidden;
}
.grzx_xia_head {
    width: 100%;
}
.grzx_xia_head .caozuo {
    line-height: 18px;
    font-size: 13px;
    padding-top: 15px;
    height: 42px;
}
.grzx_xia_head li {
    height: 57px;
    color: #333;
    overflow: hidden;
    text-align: center;
    line-height: 57px;
    border-right: 1px solid #cccccc;
    float: left;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
}
.grzx_xia_head li:hover{
	color: red;
	border-bottom: 2px solid #F8E302;
}
.grzx_r .jian_cha{
    width:120px;
    height: 50px;
    float: left;
}
.grzx_r .jian_cha1{
    width: 400px;
    float: left;
    margin-top: -18px;
    margin-left: 230px;
    height: 50px;
}